.detail-clinic-container {
  background-color: #ddd;
  height: 1200px;
  .header-img {
    display: flex;
    .left {
      width: 30%;
      padding-left: 100px;
    }
    .right {
      width: 70%;
      padding-top: 20px;
      padding-right: 100px;
      h2 {
        color: white;
      }
      p {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
  .search-clinic-container {
    margin: 10px 500px;

    .search-clinic-body {
      background-color: rgb(85, 85, 247);
      box-shadow: 0px 8px 10px black;

      .header {
        padding: 15px 40px;

        .search {
          position: relative;
          input {
          }
          .btn-search {
            position: absolute;
            right: 5px;
            top: 5px;
            border: none;
            border-radius: 5px;
            outline: none;
            border-radius: 5px;
            background: #ddd;
          }
        }
      }
    }
    .data {
      box-shadow: 0px 8px 10px black;
      background-color: white;
      .col-4 {
        text-align: center;
        margin: 20px 0;
        .bg-image {
          width: 100%;
          min-height: 100px;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          cursor: pointer;
        }
        .text-name {
          cursor: pointer;
          &:hover {
            color: rgb(74, 74, 224);
          }
        }
      }
    }
  }
}
